<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login Jetty</title>
	<link rel="stylesheet" href="../resources/styles/styles.css">
</head>
<body id="container-body">
	<div id="container-login">
		<div id="body-login">
			<div id="body-login-left">

			</div>
			<div id="body-login-right">
				<div id="login-right-top">
					<h1>Login</h1>
				</div>
				<div id="login-left-form">
					<form action="loginjetty" method="post">
						<input type="text" name="email"> <br>
						<input type="password" name="password"> <br>
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>